@import "tailwindcss";

:root {
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkThem: #11001f;
  --Outfit: [ "Outfit", "sans-serif"];
  --Ovo: [ "Ovo", "serif"];
  --boxShadow: {
    'black':'4px4px0#000','white': "4px 4px 0 #fff";
  }
}

* {
  font-family: Outfit;
}
